* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

  body {
    background-color:lightgoldenrodyellow;
    font-family: 'Montserrat', sans-serif;
  }
  .img {
    height: 230px;
    width: 230px;
  }

  .home{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 20px;
  }

  a:link, a:visited {
    text-decoration: underline;
    color: #FF9770;
    background-color: transparent;
  }

  a:hover, a:active {
    color: white;
  }

  h1{
    padding-top: 15%;
    padding-left: 8%;
    font-size: 50px;
    color: #FF9770;
  }

 .homepage {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-top: 30px;
  padding-left: 8%;
  padding-bottom: 20px;
  
  }

  .paragraph {
    height: 100%;
    width:500px;
    padding: 15px;
    border:1px solid;
    border-radius: 10px;
    background-color: #FF9770;
 }

  .image {
    margin-right: 10%;
  }

  p {
    font-size: 17px;
    color: grey;
  }

  @media screen and (max-width: 375px)  {
    .homepage {
     flex-direction: column;
    }

    .paragraph {
      width: 200px;
    }
    .img {
      height:100px;
      width: 100px;
    }
  }
  
