
.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 30px;
    padding: 20px;
   }

.img-logo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: none;
    padding: 20px;
}
  
.image-profile {
    border: 1px solid;
    box-shadow: 10px 10px 10px lightgray;
}

.img-tools{
        width: 80px;
        box-shadow: 10px 10px 10px lightgray;
        margin: 10px;
}

.image-work{
    width: 350px;
    height:250px;
    box-shadow: 10px 10px 10px lightgray;
}

.img-title{
    width: 70px;
    height: 70px;
    padding: 10px;
}
