.nav-bar{
    display: flex;
    flex-direction: row;
    position:sticky;
    top: 0;
    right: 0;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    background-color: #1D3461;
    }

    .link {
      height: 100%;

    }
   
    .navbar-menu{
      height: 100%;
      color: #FF9770;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
     }

   .img-logo {
      width: 80px;
      object-fit: cover;
      border: none;
      padding: 20px;
      margin-top: 3px;
    }
     
    .menu{
      color: #FF9770;
    }

   ul li {
      position: relative;
      list-style: none;
   }

   ul li a {
      display: block;
      padding: 12px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
   }

    ul.dropdown li {
      display: block;
      background-color: #1D3461;
    
   }

    ul.dropdown {
      position: absolute;
      right: 0;
      display: none;
   }

   .dropdown li a:hover {
      background:  #1D3461;
   }

   .link:hover ul.dropdown {
      display: block;
   }

  .links {
   display: flex;
  
  }

 .left-section {
    flex: 1;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    color: #FF9770;
 }

 @media screen and (max-width: 640px) {
   .left-section {
      display: none;
   }

   .nav-bar{
      position:-webkit-sticky;
      position: sticky;
      }


 }