* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');



p{
  text-align: center;
  font-size: 30px;
  color: grey;
  margin-top: 30px;
}

button:hover {
    background-color: #DAF0EE;
 }

 a:link, a:visited {
  text-decoration: none;
  color: #FF9770;
  background-color: transparent;
}
a:hover, a:active {
  color: white;
}

 .text-header{
  margin-bottom:200px;
 }


.bio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:100px;
 }

 .cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0% auto;
  margin-bottom: 120px;
 }

 .cont-text-bio{
  height: 100%;
  padding: 15px;
  margin-left: 150px;
  margin-top: 40px;
}

.cont-img-bio{
  height: 100%;
  width: 300px;
}

 .tools{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top:  80px;
  padding-bottom: 40px;
 }

.tools-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
 }

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
 }

 .work{
  height: 300px;
  display: flex;
  justify-content: center;
   align-items: center;
  margin: 20px;
  border: 1ps solid;
  background-color: whitesmoke;  
 }

 .work img{
  height: 300px;

 }

 .work-one{
  border:1px solid lightgrey;
  border-radius: 4px;
 }

 .contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
 }

 .social
 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
 }

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  padding-top: 60px;
  color: grey;
}

.name,
.phone,
.email,
.message{
  width: 200px;
  padding: 13px;
  border-radius: 5px;
  margin: 10px;
}

 .submit {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px ;
  color: white;
  background-color: lightskyblue;
  font-size: 16px;
 }


@media screen and (max-width: 375px) {

.cont {
  flex-direction: column;
}

.cont-text-bio {
  padding: 15px;
  margin: 0%;
  margin-top: 15px;
}

.social{
  flex-wrap: wrap;
}
.image-work{
  width: 100%;
  height: auto;
}
}

@media screen and (max-width: 1200px) {
.cont {
  flex-direction: column;
}

.cont-text-bio {
  padding: 15px;
  margin: 0%;
  margin-top: 15px;
}

.work{
  margin: 0;
  margin-left: 10px;
}

}
