 h1 {
  text-align: center;
  color:#274060;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
  }
 
 h2 {
   text-align: center;
   font-family: 'monserrat', sans-serif;
   /* padding-top: 40px;
   padding-bottom: 20px; */
   color:  #335C81;
  }
  

  